{% extends 'website/base.html' %}

{% block custom_css %}
{% endblock custom_css %}

{% block nav_items %}
<li class="nav-item" role="presentation"><button class="email">Send Email</button></li>
{% endblock nav_items %}

{% block login_text %} Log out {% endblock login_text %}


{% block content %}
{% include 'website/server_messages.html' %}
<div class="container">
    <div class="row" style="margin-top: 25px;">
        <div class="col-md-12 text-left">
            <h1 class="text-center" style="color: rgb(118,179,68);">{{ company_name }}'s Dashboard</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row" style="margin-top: 25px;">
        <div class="col-md-6">
            <div></div>
            <div class="table-responsive" style="width: 80%;margin: auto;">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="table-success" colspan="2">Pending Responses</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for customer in company.get_pending_customers %}
                        <tr style="background-color: #ffffff;">
                            <td style="width: 80%;">{{ customer.name|default:"Anonymous" }}</td>
                            <td style="width: 20%;"><i class="fa fa-reply border rounded-0"></i></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <div></div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="table-success">Review Statistics</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr></tr>
                        <tr>
                            <td><img src="/static/website/images/professional-graphs-and-charts-670x335.jpg" style="height: 100%;width: 100%;"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        </div>

    </div>

<div class="modal fade" id="modalEmail" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Send Email</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                <form method="POST">
                    {%  csrf_token %}
            <div class="modal-body">
                {{ form.as_p}}
            </div>
            <div class="modal-footer"><button class="btn btn-light" type="button" data-dismiss="modal">Close</button><button class="btn btn-success" type="submit">Send</button></div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}

{% block js %}
<script>
    $('.email').on('click', function() {
        $('#modalEmail').modal('toggle');
    });
</script>
{% endblock js %}
