{% extends 'website/base.html' %}

{% block custom_css %}
<style type="text/css">
nav {
    visibility: hidden;
}
</style>
{% endblock custom_css %}

{% block login_text %} Log in {% endblock login_text %}
{% block content %}
{% include 'website/server_messages.html' %}

<div>
    <div class="container">
        <div class="row" style="margin-top: -50px   ">
            <div class="col-md-12 text-center">
                <h1 style="color: rgb(118,179,68);">We are sorry to hear that!</h1>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xl-6 offset-xl-3">
                <div class="table">
                    <form method="POST">
                        {% csrf_token %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="text-center" colspan="2">
                                    <h5 style="color: rgb(118,179,68);">Please fill out this form and the owner will contact you directly!</h5>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ form.name }}</td>
                            </tr>
                            <tr>
                                <td>{{ form.email }}</td>
                            </tr>
                            <tr>
                                <td colspan="2">{{ form.reason }}</td>
                            </tr>
                            <tr>
                                <td colspan="2">{{ form.review }}</td>
                            </tr>
                            <tr>
                                <td colspan="2"><button class="btn btn-success" type="submit" style="width: 100%;">Submit</button></td>
                            </tr>
                        </tbody>
                    </table>
                    <input type="hidden" name="company" value="{{ company }}"></input>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block js %}
<script>
</script>
{% endblock js %}
