{% extends 'website/base.html' %}

{% block custom_css %}
{% endblock custom_css %}

{% block login_text %} Log in {% endblock login_text %}
{% block content %}
{% include 'website/server_messages.html' %}
<div class="container">
    <div class="row" style="margin-top: 75px;">
        <div class="col">
            <h1 class="text-center" style="color: rgb(118,179,68);">Struggling to Get Good Reviews?&nbsp;</h1>
        </div>
    </div>
</div>
<div class="col-auto text-center col-xl-4 offset-xl-4">
    <div class="table">
        <form method="POST">
            {% csrf_token %}
        <table class="table">
            <thead>
                <tr></tr>
            </thead>
            <tbody style="width: 100%;">
                <br />
                <tr colspan=2>
                    <h1>Welcome To Easy Review!</h1>
                </tr>
                <tr colspan=2>
                    <h3>Your username is {{ slug }}</h3>
                </tr>
                <tr colspan=2>
                    <h3>Please Set a Password</h3>
                </tr>
                <input type="hidden" name="slug" value="{{ slug }}">
                <tr>
                    <td><strong>{{ form.password.label }}: </strong></td><td colspan="2">{{ form.password }}</td>
                </tr>
                <tr>
                    <td><strong>{{ form.password_confirm.label }}: </strong></td><td colspan="2">{{ form.password_confirm }}</td>
                </tr>
                <tr>
                    <td colspan="2"><button class="btn btn-success shadow" type="submit" style="width: 80%;margin-right: 10%;margin-left: 10%;">Access Your Account</button></td>
                </tr>
            </tbody>
        </table>
        </form>
    </div>
</div>
{% endblock content %}

{% block js %}
<script>
</script>
{% endblock js %}
